* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

header {
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb
    }

nav {
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb
}

#section {
    float: left;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 300px;
    background: #ebebeb
}
#article {
    color: #ebebeb;
    padding: 100px;
    background: #777;
}
#aside {
    float: right;
    width: 37%;
    padding-top: 20px;
    padding-bottom: 300px;
    background: #ebebeb
}
footer {
    margin-top: 20px;
    clear: both;
    padding: 20px;
    background: #ebebeb
}